{{>header}}
<div class="container">
    <h2>BIENVENIDO A LA ENTREGA TRES</h2>
    <p>En esta entrega vamos a utilizar todos los conocimientos obtenidos hasta el momento en el curso</p>
    <img src="img/node.jpeg" class="img-fluid">
</div>
</main>
{{>footer}}