<footer style="margin-top: 2em">
    <small>
        <p>COPYRIGHT © 2019 CRISTIAN DAVID AGUDELO CANO. TODOS LOS DERECHOS RESERVADOS.<br>
    </small>
</footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>